body{    background-color: antiquewhite;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clock{
    margin-top: 20px;
    display:flex;
    place-content: center;
}
.heading{
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
    
}
.time{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.time input{
    width: 45%;
    text-align: center;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.time label{
    text-align: center;
}
.link{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link a{
    text-decoration: none;
    color: black;
    margin: 1%;

}
#player{
    height: 390px;
    width: 640px;
}
@media screen and (max-width:644px) {
    #player{
        height: 195px;
        width: 320px;
        transition: 0.5s;
    }
}
@media screen and (min-width:645px) {
    #player{
        height: 390px;
        width: 640px;
        transition: 0.5s;
    }
}
