* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
}

header {
  height: 3rem;

  display: flex;
  align-items: center;
  place-content: end;
}

nav ul {
  display: flex;
  place-content: center start;
  align-items: center;
}

nav ul li {
  list-style: none;
}
nav ul a {
  color: black;
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
}
.toggleMode {
  padding: 1rem 2rem 1rem 2rem;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}
.toggleMode:hover {
  background-color: grey;
  color: white;
}

nav ul a:hover {
  background-color: grey;
  color: white;
}
.inputValues td,
.inputValues th {
  border: none;
}
.methods {
  text-align: center;
}
.inputs {
  margin-top: 3rem;
  display: flex;
  place-content: center;
}
.enter,
.reset {
  width: 3rem;
  height: 2rem;
  margin: 5px;
}
.reset:hover,
.enter:hover {
  background-color: aquamarine;
}
.bisection th,
td {
  padding: 1rem;
}
.bisection {
  table-layout: fixed;
  text-align: center;
  width: 100%;
  visibility: hidden;
}
.bisection,
th,
td {
  border: 1px solid black;
}

.dark {
  color: white;
  background-color: black;
}

.darkborder {
  border: 1px solid white;
}
