html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.main{
    position: absolute;
    height:100%;
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.display{

   border: 1px solid black;
   padding: 10px;
   border-radius: 5px;
   
   display: flex;
   flex-direction: column;
}
.row{
    margin: 10px;
    justify-content: center;
}
#submit{
   width: 100%; 
   border-radius: 5px;
}