.container{
    display: flex;
    height: 97svh;
    width: 100%;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}
#passBox{
    pointer-events: none;
}

