body{
    background-color: cornflowerblue;
    background-size: cover;
}
.box-grp{
    display: flex;
    
    place-content: center;
}
.box{
    margin: 30px;
    padding: 40px;
    width:100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 10px 25px 80px 100px;
    background-color: white;
    transition: 1s;
}
.btn{
    margin-top: 10px;
    display: flex;
    place-content: center;
    
}
.generator-btn{
    
    
    background-color: black;
    color: white;
}